<%-include('../layouts/header.ejs') %>

  <%-include('../layouts/sidebar.ejs') %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <div class="content">

        <!-- /.card -->

        <div class="card">
         <div class="card-header d-flex justify-content-between" style="background-color: black; color: white;">
            <h1 class="card-title" style="line-height: 40px; font-size: 22px; font-family: monospace;"> Edit Student</h1>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <% if(msg.length > 0){ %>
              <div class="alert alert-danger">
                      <%= msg %>
              </div>
              <% } %>
              <% if(msg1.length > 0){ %>
                <div class="alert alert-success">
                        <%= msg1 %>
                </div>
                <% } %>
            <!--modal start-->
        
                  <form action="/admin/updatecourse/<%= d._id %>" method="post" >
                    <div class="form-group">
                      <label>Course Name</label>
                      <input type="text" value="<%= d.cname %>" name="cname" class="form-control" required>
                    </div>
                    

                    <button type="submit" class="btn btn-success">update</button>
                  </form>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%-include('../layouts/footer.ejs') %>